@import "_mixin";

#product_list{
    width: 90%;
    margin: 100px auto;
    .tab_area{
        h3.title{
            font-size: 1.5625rem;
            text-align: center;
        }
        .box{
            border: 1px solid rgba(112, 112, 112, 0.5);
            margin: 50px auto;
            padding: 20px 5% 10px;
            border-radius: 20px;
        }
        ul{
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                text-align: center;
                width:auto;
                margin: 0 1.5% 10px;
                strong{
                    background: rgba(170, 167, 167,.3);
                    border-radius: 10px;
                    display: block;
                    padding: 5px 10px;
                }
                a{
                    color:rgba(112, 112, 112,.8);
                    font-weight: 600;
                    &.on{
                        background: rgba(170, 167, 167, 0.8);
                        border-radius: 20px;
                        display: block;
                        padding: 9px 25px;
                        color: #fff;
                    }
                }
            }
        }
        .drop_show{
            ol{
                flex-wrap: wrap;
                display: flex;
                align-items: center;
                li{
                    text-align: center;
                    width: auto;
                    margin: 10px 1.5% 10px;    
                    a{
                        color: #707070;
                        font-weight: 300;
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
    .thumb_area{
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            li{
                margin: 0 .4% .4% 0;
                width: 24%;
                &:nth-of-type(4n){
                    margin: 0 0 .4% 0;
                }
                a{
                    position: relative;
                    &:hover{
                        .hover{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .hover{
                        font-size: 1.25rem;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,.7);
                        padding: 15px;
                  
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 800ms ease-out;
                        b{
                            color: #fff;
                            margin: 0 5% 0 0;
                        }
                        i{
                            background: url("../img/product_arrow.png") no-repeat 5px 0/30px 23px;
                            width: 40px;
                            height: 50px;
                            display: block;
                        }
                    }
                }
               
            }
        }
    }

}
#product_detail{
    width: 90%;
    margin: 100px auto;
    .tab_area{
        h3.title{
            font-size: 1.5625rem;
            text-align: center;
        }
        .box{
            border: 1px solid rgba(112, 112, 112, 0.5);
            margin: 50px auto 100px;
            padding: 20px 5% 10px;
            border-radius: 20px;
        }
        ul{
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                text-align: center;
                width:auto;
                margin: 0 1.5% 10px;
                strong{
                    background: rgba(170, 167, 167,.3);
                    border-radius: 10px;
                    display: block;
                    padding: 5px 10px;
                }
                a{
                    color:rgba(112, 112, 112,.8);
                    font-weight: 600;
                    &.on{
                        background: rgba(170, 167, 167, 0.8);
                        border-radius: 20px;
                        display: block;
                        padding: 9px 25px;
                        color: #fff;
                    }
                }
            }
        }
        .drop_show{
            ol{
                flex-wrap: wrap;
                display: flex;
                align-items: center;
                li{
                    text-align: center;
                    width: auto;
                    margin: 10px 1.5% 10px;    
                    a{
                        color: #707070;
                        font-weight: 300;
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
    .detail_area{
        margin: 0 0 100px 0;
        &:last-child{
            margin: 0;
        }
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 15px 0;
            h3{
                font-size: 1.25rem;
                b{
                    color: #918B8B;
                }
            }
            p{
                margin: 0 13% 0 0;
                font-size: 1.25rem;
                font-weight: 600;
                .total{
                    margin: 0 0 0 15px;
                }
            }
        }
        .f_box{
            display: flex;

            .swiper-container-wrapper{
                border: 1px solid #ddd;
                width: 70%;
                overflow: hidden;
                .gallery-thumbs01{
                    position: relative;
                    padding: 0 35px;
                    
               
                    .swiper-slide{
                        opacity: 0.5;
                    }
                    .swiper-slide-thumb-active{
                        opacity: 1;
                    }
                    .swiper-button-next{
                        right: 0;
                        width: 40px;
                        &:after{
                            content: "";
                            width: 40px;
                            height: 50px;
                            background: url("../img/next_con.png")no-repeat center/20px auto #fff;
                        }
                    }
                    .swiper-button-prev{
                        left: 0;
                        width: 40px;
                        &:after{
                            content: "";
                            width: 40px;
                            height: 50px;
                            background: url("../img/prev_con.png")no-repeat center/20px auto #fff;
                        }
                    }
                }
                .gallery-thumbs02{
                    position: relative;
                    padding: 0 35px;
                    
               
                    .swiper-slide{
                        opacity: 0.5;
                    }
                    .swiper-slide-thumb-active{
                        opacity: 1;
                    }
                    .swiper-button-next{
                        right: 0;
                        width: 40px;
                        &:after{
                            content: "";
                            width: 40px;
                            height: 50px;
                            background: url("../img/next_con.png")no-repeat center/20px auto #fff;
                        }
                    }
                    .swiper-button-prev{
                        left: 0;
                        width: 40px;
                        &:after{
                            content: "";
                            width: 40px;
                            height: 50px;
                            background: url("../img/prev_con.png")no-repeat center/20px auto #fff;
                        }
                    }
                }
                .gallery-thumbs03{
                    position: relative;
                    padding: 0 35px;
                    
               
                    .swiper-slide{
                        opacity: 0.5;
                    }
                    .swiper-slide-thumb-active{
                        opacity: 1;
                    }
                    .swiper-button-next{
                        right: 0;
                        width: 40px;
                        &:after{
                            content: "";
                            width: 40px;
                            height: 50px;
                            background: url("../img/next_con.png")no-repeat center/20px auto #fff;
                        }
                    }
                    .swiper-button-prev{
                        left: 0;
                        width: 40px;
                        &:after{
                            content: "";
                            width: 40px;
                            height: 50px;
                            background: url("../img/prev_con.png")no-repeat center/20px auto #fff;
                        }
                    }
                }
            }
            .detail_txt{
                width: 30%;
                background: #F3F3F3;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                .explanation{
                    margin: 35% 10% 0;
                    h3{
                        font-size: 1.25rem;
                        margin: 0 0 20px 0;
                    }
                    p{
                        font-size: 0.875rem;
                        line-height: 2;
                    }
                }
                .btn_area{
                    ol{
                        display: flex;
                        padding: 25px 10%;
                        flex-wrap: wrap;
                        li{
                            width: 49%;
                            margin: 0 2% 2% 0;
                            text-align: center;
                            
                            &:first-child{
                                a{
                                    background: #AAA7A7;
                                    color: #fff;
                                    border: 1px solid #AAA7A7;
                                }
                            }
                            &:nth-of-type(2n){
                                margin: 0 0 2% 0;
                            }
                            a{
                                border-radius: 50px;
                                padding: 7px 10px;
                                border: 1px solid #707070;
                                background: #fff;
                            }
                        }
                    }
                }
            }
        }
        .drop{
            border: 1px solid #ddd;
            height: 400px;
            overflow-y: scroll;
            display: none;
          
        }
    }
    
}

@include breakpoint_desktop_1280 {
    #product_detail {
        margin: 70px auto;
        .tab_area {
            .box{
                margin: 30px auto 70px;
            }
        }
        .detail_area {
            .top{
                p{
                    margin: 0;
                }
            }
            .f_box {
                .detail_txt {
                    .explanation{
                        margin: 20% 10% 0;
                    }
                }
            }
        }
        
       
    }
    #product_list{
        margin: 70px auto;
        .tab_area {
            .box{
                margin: 30px auto;
            }
        }
    }

}

@include breakpoint_tablet_1024 {
 
    #product_list {
        .thumb_area {
            ul{
                li{
                    a{
                        .hover{
                            font-size: 1rem;
                            i{
                                background: url(../img/product_arrow.png) no-repeat 0 0/30px 18px;
                                width: 30px;
                                height: 40px;
                                display: block;
                               
                            }
                        }
                    }
                }
            }
        }
    }
    #product_detail {
        .detail_area {
            .f_box {
                .swiper-container-wrapper{
                    width: 60%;
                    .gallery-thumbs01{
                        margin: 25px 0;
                       
                    }
                    .gallery-thumbs02{
                        margin: 25px 0;
                    }
                    .gallery-thumbs03{
                        margin: 25px 0;
                    }
                }
                .detail_txt{
                    width: 40%;
                }
            }
        }
    }

}


@include breakpoint_tablet_900{
    #product_list {
        .thumb_area {
            ul{
                li{
                    width: 32%;
                    &:nth-of-type(4n){
                        margin: 0 1% 1% 0;
                    }
                    &:nth-of-type(3n){
                        margin: 0 0px 1% 0;
                    }
                    a{
                        &:hover{
                            i{
                                background: url("../img/product_arrow.png") no-repeat 0 0/30px 18px;
                                width: 30px;
                                height: 40px;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    #product_detail {
        .detail_area {
            .f_box{
                flex-direction: column;
                .swiper-container-wrapper{
                    width: 100%;
                }
                .detail_txt{
                    width: 100%;
                    .explanation{
                        margin: 50px;
                    }
                }
            }
        }
    }
}



@include breakpoint_tablet_768 {
    #product_list{
        margin: 70px auto;
        .tab_area{
            .box{
                padding: 20px 3% 10px;
            }
            ul{
                margin: 0;
                flex-wrap: wrap;
                padding: 0 0 10px 0;
                li{
                    a{
                        &.on{
                            padding: 6px 18px;
                        }
                    }
                }
            }
            .drop_show{
                border-top: 1px solid #ddd;
                ol{
                    padding: 10px 0 0;
                }
            }
        }
    }
    #product_detail {
        margin: 70px auto;
        .tab_area{
            .box{
                padding: 20px 3% 10px;
            }
            ul{
                margin: 0;
                flex-wrap: wrap;
                padding: 0 0 10px 0;
                li{
                    a{
                        &.on{
                            padding: 6px 18px;
                        }
                    }
                }
            }
            .drop_show{
                border-top: 1px solid #ddd;
                ol{
                    padding: 10px 0 0;
                }
            }
        }
        .detail_area {
            .top{
                flex-direction: column;
                align-items: start;
                h3{
                    font-size: 1rem;
                }
                p{
                    font-size: 1rem;
                }
            }
            .f_box{
                .detail_txt{
                    .explanation {
                        h3{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

    }
 
}



@include breakpoint_mobile_540 {
    #product_list {
        .tab_area {
            ul {
                li{
                    strong{
                        margin: 5px 0;
                    }
                }
            }
        }
        .thumb_area {
            ul{
                li{
                    width: 49%;
                    &:nth-of-type(3n){
                        margin: 0 1% 1% 0;
                    }
                    &:nth-of-type(2n){
                        margin: 0 0 1% 0;
                    }
                }
            }
        }
    }
     #product_detail{
        .tab_area {
            ul {
                li{
                    strong{
                        margin: 5px 0;
                    }
                }
            }
        }
     }
}

@include breakpoint_mobile_480 {
    #product_detail {
        
        .detail_area{
            .f_box {
                .detail_txt {
                    .explanation{
                        margin: 40px 20px;
                    }
                    .btn_area {
                        ol{
                            padding: 25px 20px;
                        }
                    }
                }
            }
            .drop{
                height: 300px;
            }
        }
    }
 
}


@include breakpoint_mobile_414{
    #product_list {
        .thumb_area {
            ul{
                li{
                    width: 100%;
                    margin: 0 0 10px 0;
                    &:nth-of-type(3n){
                        margin: 0 0 10px 0;
                    }
                    &:nth-of-type(2n){
                        margin: 0 0 10px 0;
                    }
                }
            }
        }
    }
    
}
